@import "_colours";
@import "../sass/layout";

    header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header nav ul {
    display: flex;
    padding: 0px 120px;
    list-style-type: none;
    margin: 0;
}

header nav ul li {
    padding: 10px 5px;
    margin: 0px 20px 0px 20px;
}

header nav ul li a {
    font-family:"Cabin", Sans-serif;
    font-size:17px;
    font-weight:400;
    color: #202B5D;
    text-decoration: none;
}

header nav ul li:hover a {
    color: #FF3514;
}


.seach {
    font-size:14px;
    font-size: 20px;
    color: #202B5D;
    margin: 0px 0px 0px 20px;
}

